/* elements */

body {
    font-family: "Noto Sans SC", sans-serif !important;
}

section {
    min-height: 100vh;
}

i {
    padding: 0;
    margin: 0;
    min-height: 20px;
    min-width: 20px;
    pointer-events: none;
}

a:link, a:hover, a:active, a:visited {
    color: black !important;
    text-decoration: none !important;
}

footer {
    border-style: solid hidden hidden hidden;
    border-width: 5px;
    background-color: black;
    grid-area: footer;
}

/* Bootstrap classes */

.card {
    border-color: black !important;
}

.list-group-item {
    padding: 15px 10px 0 10px !important;
}

/* my classes */

.my-nav-link:link, .my-nav-link:hover, .my-nav-link:active, .my-nav-link:visited {
    font-size: 20px;
    color: white !important;
}

.my-nav-link:hover {
    animation-name: darken;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

@keyframes darken {
    100% {
        color: gray;
    }
}

.prj-tile {
    height: 200px;
    width: 280px;
    margin: 20px 0;
}

.prj-link {
    height: 100%;
}

.prj-text{
    padding: 0 !important;
    height: 20%;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center !important;
}

.prj-title {
    font-size: 16px;
    /*padding: 8px 0 0 0 !important;*/
    margin: 0 !important;
}

.prf-link:hover .prf-link-item, .prf-link:active .prf-link-item {
    animation-name: lighten-darken;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.prf-link:hover, .prf-link:active {
    animation-name: lighten-darken;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.prf-link {
    border-top: 1px solid lightgray;
}

@keyframes lighten {
    100% {
        color: #acacac;
    }
}

@keyframes lighten-darken {
    100% {
        color: #f8f9fa;
        background-color: #404040; 
    }
}

/* IDs */

#collection-link:link, #collection-link:visited {
    color: gray !important;
}

#collection-link:hover, #collection-link:active {
    animation-name: lighten;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

#body-div {
    margin: 0 !important;
    padding: 0 !important;
}

#navbar {
    color: white;
    position: fixed;
    background-color: black;
    width: 100vw;
    height: 82px;
    border-bottom: 3px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

#info-div {
    margin-left: 20px;
    /* text-align: center; */
}

#title {
    font-size: 30px;
    margin: 0 0 8px 0;
}

#sub-title {
    font-size: 25px;
    margin: 0;
}

#navlink-div {
    width: 40%;
    margin: 0  20px 0 0;
    display: flex;
    justify-content: space-around;
}

#welcome-section, #projects, #links {
    padding-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-section {
    background: url("https://drive.google.com/uc?export=download&id=1BxEPsyQpQ9GdH4SjuqY8nMIep9K24s3k");
}

#about-box {
    max-width: 70%;
    background-color: white;
    border: 1px solid;
    border-radius: 7px;
    padding: 10px;
    display: grid;
    grid-template-areas: 
    "img title"
    "img text";
    grid-template-columns: 100px 1fr;
    grid-template-rows: 100px 1fr;
}

#about-img {
    grid-area: img;
}

#about-title {
    padding: 10px;
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#about-text {
    padding: 10px;
    grid-area: text;
}

#projects {
    border-top: 3px solid;
    background-image: url(https://s3-sa-east-1.amazonaws.com/myhostedfiles.raulf/Images/design+patterns/Art+D%C3%A9co+-+%231.jpg);
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
}

.prj-link:hover, .prj-link:active {
    animation-name: lighten-darken;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

#prj-header, #prj-footer {
    padding: 10px;
    min-height: 20px;
    max-width: 85vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
}

#project-display {
    max-width: 1200px;
    margin: auto;
}

.tile-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    min-width: 300px;
}

#links {
    border-top: 3px solid;
    background: url("https://drive.google.com/uc?export=download&id=16L81jIAhdSfnWmScvOSrLr-9wN1RZ-42");
    flex-direction: column;
}

#links-div {
    padding: 0 !important;
    margin: 20px;
}

#page-footer {
  background-color: black;
  height: 35px;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-footer #credits-line {
  font-size: 16px;
  color: white;
}

#page-footer #port-link:link, #page-footer #port-link:visited, #page-footer #port-link:active, #page-footer #port-link:hover {
  color: #868e96 !important;
  text-decoration: none !important;
}

#page-footer #port-link:active, #page-footer #port-link:hover {
  text-decoration: none !important;
  -webkit-animation-name: lighten;
          animation-name: lighten;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 850px) {

    body {
        width: 100vw;
    }

    .mq-target {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    #navbar {
        max-width: 100vw;
        height: 50px;
        justify-content: center;
    }

    #info-div {
        display: none;
    }

    #navlink-div {
        margin: 0;
        width: 100vw;
    }

    .my-nav-link {
        font-size: 14px !important;
    }

    #welcome-section, #projects, #links {
        max-width: 100vw;
    }

    #about-box {
        max-width: 90vw;
        grid-template-areas: 
        "img title"
        "text text";
    }

    #about-title-text {
        font-size: 30px;
    }

    #project-display {
        max-width: 100vw;
    }
}