@media (max-width: 500px) {
    $scalew: 360;
    $scaleh: 640;

    .navbar,
    .logo,
    .link-box,
    .tablet-placeholder {
        display: none;
    }

    .watermark {
        font-size: (40 / $scalew) * 100vw;
        font-weight: 600;
        color: rgba($color: $gray, $alpha: 0.7);
        position: fixed;
        transform: rotate(90deg);
        pointer-events: none;
    }

    .mobile-menu {
        color: white;
        height: (100 / $scaleh) * 100vh;
        width: 100%;
        background-color: black;
        overflow: hidden;
        display: grid;
        grid-template-areas:
            "logo button"
            "table table"
            "links links";
        grid-template-columns: 1fr (50 / $scalew) * 100vw;
        grid-template-rows: (100 / $scaleh) * 100vh 1fr (135 / $scaleh) * 100vh;
        position: fixed;
        top: 0;
        .logo {
            width: (230 / $scalew) * 100vw;
            text-decoration: none;
            grid-area: logo;
            align-self: center;
            justify-self: center;
            position: relative;
            left: (25 / $scalew) * 100vw;
            @include f-style(row, center, center);
            .profile-picture {
                border-radius: 50%;
                height: (55 / $scaleh) * 100vh;
            }
            .logo-name {
                padding-left: (5 / $scalew) * 100vw;
                color: white;
                font-size: (27 / $scaleh) * 100vh;
                line-height: (27 / $scaleh) * 100vh;
                font-weight: 900;
            }
        }
        .menu-btn {
            font-size: (30 / $scalew) * 100vw;
            color: white;
            padding: 0;
            border: none;
            outline: none;
            background: none;
            grid-area: button;
            @include f-style(row, flex-start, center);
        }
        .outer-navbox {
            min-height: (410 / $scaleh) * 100vh;
            width: 100%;
            grid-area: table;
            @include f-style(column, center, center);
            .inner-navbox {
                width: (110 / $scalew) * 100vw;
                height: (180 / $scaleh) * 100vh;
                @include f-style(column, space-between, center);
                .mobile-link {
                    color: white;
                    text-decoration: none;
                    font-size: (30 / $scalew) * 100vw;
                    font-weight: 600;
                    .gray-text {
                        color: gray;
                    }
                }
            }
        }
        .link-box {
            min-height: (120 / $scaleh) * 100vh;
            overflow: hidden;
            text-decoration: none;
            font-size: (70 / $scalew) * 100vw;
            @include f-style(row, center, flex-start);
            .link-icon {
                color: white;
                margin: 0 (20 / $scalew) * 100vw;
            }
            grid-area: links;
        }
        z-index: 1000;
    }

    // Pages

    .language {
        height: 100vh;
        color: white;
        background-color: black;
        text-align: center;
        h1 {
            margin: 0;
            font-size: (28 / $scalew) * 100vw;
            font-weight: 700;
            .gray-text {
                color: $gray;
            }
        }
        @include f-style(column, center, center);
        .lang-options {
            width: (180 / $scalew) * 100vw;
            @include f-style(row, space-between, center);
            margin: (20 / $scaleh) * 100vh 0;
            .lang-link {
                padding: 0;
                border: none;
                outline: none;
                background: none;
                img {
                    pointer-events: none;
                    width: (70 / $scalew) * 100vw;
                }
            }
        }
    }

    .home {
        height: 100vh;
        background-image: url("https://s3-sa-east-1.amazonaws.com/myhostedfiles.raulf/Images/portfolio-assets/home-background.jpg");
        background-size: cover;
        background-position: 50%;
        text-align: center;
        @include f-style(row, center, center);
        .bg-filter {
            background-color: rgba($color: $lightgray, $alpha: 0.6);
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 100;
        }
        .intro-text {
            position: relative;
            font-size: (40 / $scalew) * 100vw;
            .mobile-hand {
                display: block;
                .white-text {
                    color: white;
                }
            }
            z-index: 200;
        }
    }

    .about {
        min-height: 100vh;
        position: absolute;
        top: 0;
        width: 100%;
        .about-left {
            display: none;
        }
        .about-right {
            height: 100%;
            @include f-style(column, flex-start, center);
            .about-article {
                width: 95%;
                margin-top: (120 / $scaleh) * 100vh;
                margin-bottom: (40 / $scaleh) * 100vh;
                @include f-style(column, flex-start, center);
                .about-title {
                    width: (300 / $scalew) * 100vw;
                    font-size: (28 / $scalew) * 100vw;
                    align-self: flex-start;
                    margin: 0 0 (10 / $scaleh) * 100vh (10 / $scalew) * 100vw;
                    font-weight: 800;
                }
                .about-text {
                    width: 85%;
                    font-family: Lato, sans-serif;
                    align-self: flex-end;
                    margin: 0 0 (10 / $scaleh) * 100vh 0;
                    font-size: (17 / $scalew) * 100vw;
                }
            }
        }
        .watermark {
            top: 40%;
            left: -(30 / $scalew) * 100vw;
        }
    }

    .projects {
        padding-top: (100 / $scaleh) * 100vh;
        padding-bottom: (40 / $scaleh) * 100vh;
        background-image: url("https://s3-sa-east-1.amazonaws.com/myhostedfiles.raulf/Images/portfolio-assets/projects-background.jpg");
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 200vh;
        width: 100vw;
        overflow-x: hidden;
        position: absolute;
        .projects-background {
            position: fixed;
            height: 100vh;
            width: 100vw;
            overflow-x: hidden; // rgba(64, 64, 64, 0.8) 40%,
            background-color: rgba($color: #111111, $alpha: 0.75);
            z-index: 100;
        }
        .content {
            position: absolute;
            height: 200vh;
            width: 100%;
            .filter {
                height: 50%;
                width: 100%;
                color: white;
                @include f-style(row, center, center);
                .filter-info {
                    display: none;
                }
                .filter-menu-box {
                    position: relative;
                    height: 100%;
                    width: 100%;
                    @include f-style(column, center, center);
                    .filter-menu {
                        width: (250 / $scalew) * 100vw;
                        margin-right: (30 / $scalew) * 100vw;
                        margin-bottom: (200 / $scaleh) * 100vh;
                        @include f-style(column, center, flex-start);
                        .menu-title {
                            margin: 0;
                            font-weight: 800;
                            font-size: (30 / $scalew) * 100vw;
                            line-height: (30 / $scalew) * 100vw;
                        }
                        .menu-break {
                            width: 100%;
                            margin-bottom: (10 / $scalew) * 100vw;
                        }
                        .filter-option {
                            padding: 0;
                            color: $gray;
                            font-family: "Montserrat", sans-serif;
                            font-weight: 600;
                            font-size: (20 / $scalew) * 100vw;
                            line-height: (25 / $scalew) * 100vw;
                            cursor: pointer;
                            background: none;
                            border: none;
                            outline: none;
                        }
                        .filter-option:hover {
                            animation: activate 200ms forwards;
                        }
                        .sel {
                            font-size: (22 / $scalew) * 100vw;
                            color: white;
                        }
                    }
                }
            }
            .display {
                height: 50%;
                width: 100%;
                color: white;
                @include f-style(row, center, center);
                .display-content-box {
                    position: relative;
                    height: 100%;
                    width: 50%;
                    .display-content {
                        width: 580px;
                        position: absolute;
                        left: 50px;
                        top: 50px;
                        @include f-style(column, flex-start, flex-end);
                        .display-screenshot {
                            max-width: 580px;
                        }
                        .display-info {
                            font-size: 20px;
                            font-family: Lato, sans-serif;
                            font-weight: 500;
                            max-width: 580px;
                        }
                        .display-link-box {
                            width: 100%;
                            display: grid;
                            grid-template-areas: "repo-link page-link";
                            grid-template-columns: 1fr 1fr;
                            .display-pageLink {
                                font-size: 25px;
                                font-weight: 600;
                                color: $gray;
                                text-decoration: none;
                                grid-area: page-link;
                                justify-self: end;
                            }
                            .display-pageLink:hover {
                                color: $lightgray;
                            }
                            .display-repoLink {
                                justify-self: start;
                                grid-area: repo-link;
                                font-size: 25px;
                                font-weight: 600;
                                color: $gray;
                                text-decoration: none;
                            }
                            .display-repoLink:hover {
                                color: $lightgray;
                            }
                        }
                    }
                }
                .display-menu-box {
                    position: relative;
                    height: 100%;
                    width: 50%;
                    @include f-style(column, center, flex-end);
                    .display-menu {
                        width: 500px;
                        padding-right: 50px;
                        @include f-style(column, center, flex-start);
                        .menu-title {
                            margin: 0;
                            font-weight: 800;
                            font-size: 40px;
                            line-height: 40px;
                        }
                        .menu-break {
                            width: 100%;
                            margin: 0 0 10px;
                        }
                        .display-option {
                            padding: 0;
                            color: $gray;
                            font-family: "Montserrat", sans-serif;
                            font-weight: 600;
                            font-size: 25px;
                            line-height: 32px;
                            text-align: left;
                            cursor: pointer;
                            background: none;
                            border: none;
                            outline: none;
                        }
                        .display-option:hover {
                            animation: activate 200ms forwards;
                        }
                        .sel {
                            font-size: (22 / $scalew) * 100vw;
                            color: white;
                        }
                    }
                }
            }
            z-index: 300;
        }
        .scroll-btn {
            height: 40px;
            width: 40px;
            background-color: white;
            border: none;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
            font-size: 32px;
            padding: 0;
            @include f-style(row, center, center);
            position: fixed;
            right: (25 / $scalew) * 100vw;
            bottom: (25 / $scaleh) * 100vh;
            i {
                margin: 0;
            }
            z-index: 450;
        }
        .watermark {
            right: -(60 / $scalew) * 100vw;
            top: 43%;
            z-index: 400;
        }
    }

    .contact {
        min-height: 100vh;
        position: absolute;
        border: 1px solid;
        @include f-style(column, space-between, flex-end);
        .content {
            padding-top: (100 / $scaleh) * 100vh;
            width: (280 / $scalew) * 100vw;
            padding-right: (20 / $scalew) * 100vw;
            @include f-style(column, space-between, center);
            .contact-content-info {
                font-size: (15 / $scalew) * 100vw;
                font-family: Lato, sans-serif;
                font-weight: 500;
            }
            .addresses {
                min-width: (260 / $scalew) * 100vw;
                max-width: (260 / $scalew) * 100vw;
                height: 25vh;
                margin: 0;
                padding: 0;
                list-style: none;
                position: relative;
                right: (12 / $scalew) * 100vw;
                bottom: (15 / $scaleh) * 100vh;
                .address {
                    color: black;
                    margin: (15 / $scaleh) * 100vh 0;
                    padding: 0;
                    @include f-style(row, flex-start, center);
                    .address-icon {
                        width: (26 / $scalew) * 100vw;
                        font-size: (26 / $scalew) * 100vw;
                        margin-right: (5 / $scalew) * 100vw;
                    }
                    .address-text {
                        font-size: (20 / $scalew) * 100vw;
                        font-weight: 600;
                        margin: 0;
                    }
                }
                .address-link {
                    text-decoration: none;
                    color: $gray;
                }
                .address-link:hover {
                    color: $lightgray;
                }
            }
        }
        .copyright-text {
            text-align: center;
            height: (40 / $scaleh) * 100vh;
            padding-bottom: (40 / $scaleh) * 100vh;
            /*position: absolute;
            bottom: 30px;
            right: 80px;*/
            font-size: 22px;
            font-weight: 600;
            color: $gray;
            pointer-events: none;
            .mobile-help {
                display: inline-block;
            }
        }
        .portuguese {
            font-size: 20px;
        }
        .watermark {
            top: 40%;
            left: -(55 / $scalew) * 100vw;
        }
    }

    .mobile-footer {
        height: (30 / $scaleh) * 100vh;
        width: 100%;
        background-color: black;
        position: absolute;
        bottom: 0px;
        z-index: 900;
    }

    @media (min-height: 800px) {
        .mobile-menu {
            .logo {
                left: (10 / $scalew) * 100vw;
            }
        }
        .contact {
            .content {
                .contact-content-info {
                    margin-top: (10 / $scalew) * 100vw;
                    font-size: (17 / $scalew) * 100vw;
                    font-family: Lato, sans-serif;
                    font-weight: 500;
                    margin-bottom: (10 / $scalew) * 100vw;
                }
            }
        }
    }

    @keyframes activate {
        100% {
            color: white;
            font-size: (22 / $scalew) * 100vw;
        }
    }
}
