@media (max-width: 500px) {
    $scalew: 360;
    $scaleh: 640;

    .navbar,
    .logo,
    .link-box,
    .tablet-placeholder {
        display: none;
    }

    .watermark {
        font-size: (40 / $scalew) * 100vw;
        font-weight: 600;
        color: rgba($color: $gray, $alpha: 0.7);
        position: fixed;
        transform: rotate(90deg);
        pointer-events: none;
    }

    .mobile-menu {
        color: white;
        height: (100 / $scaleh) * 100vh;
        width: 100%;
        background-color: black;
        overflow: hidden;
        display: grid;
        grid-template-areas:
            "logo button"
            "table table"
            "links links";
        grid-template-columns: 1fr (50 / $scalew) * 100vw;
        grid-template-rows: (100 / $scaleh) * 100vh 1fr (235 / $scaleh) * 100vh;
        position: fixed;
        top: 0;
        .logo {
            width: (230 / $scalew) * 100vw;
            text-decoration: none;
            grid-area: logo;
            align-self: center;
            justify-self: center;
            position: relative;
            left: (25 / $scalew) * 100vw;
            @include f-style(row, center, center);
            .profile-picture {
                border-radius: 50%;
                height: (55 / $scaleh) * 100vh;
            }
            .logo-name {
                padding-left: (5 / $scalew) * 100vw;
                color: white;
                font-size: (27 / $scalew) * 100vw;
                line-height: (27 / $scalew) * 100vw;
                font-weight: 900;
            }
        }
        .menu-btn {
            font-size: (30 / $scalew) * 100vw;
            color: white;
            padding: 0;
            border: none;
            outline: none;
            background: none;
            grid-area: button;
            @include f-style(row, flex-start, center);
        }
        .outer-navbox {
            min-height: (380 / $scaleh) * 100vh;
            width: 100%;
            grid-area: table;
            @include f-style(column, center, center);
            .inner-navbox {
                width: (110 / $scalew) * 100vw;
                height: (180 / $scaleh) * 100vh;
                @include f-style(column, space-between, center);
                .mobile-link {
                    color: white;
                    text-decoration: none;
                    font-size: (30 / $scalew) * 100vw;
                    font-weight: 600;
                    .gray-text {
                        color: gray;
                    }
                }
            }
        }
        .link-box {
            min-height: (150 / $scaleh) * 100vh;
            overflow: hidden;
            text-decoration: none;
            font-size: (80 / $scalew) * 100vw;
            @include f-style(row, center, flex-start);
            .link-icon {
                color: white;
                margin-left: (20 / $scalew) * 100vw;
                margin-right: (20 / $scalew) * 100vw;
            }
            grid-area: links;
        }
        z-index: 1000;
    }

    // Pages

    .language {
        height: 100vh;
        color: white;
        background-color: black;
        text-align: center;
        h1 {
            margin: 0;
            font-size: (28 / $scalew) * 100vw;
            font-weight: 700;
            .gray-text {
                color: $gray;
            }
        }
        @include f-style(column, center, center);
        .lang-options {
            width: (180 / $scalew) * 100vw;
            @include f-style(row, space-between, center);
            margin-top: (20 / $scaleh) * 100vh;
            margin-bottom: (20 / $scaleh) * 100vh;
            .lang-link {
                padding: 0;
                border: none;
                outline: none;
                background: none;
                img {
                    pointer-events: none;
                    width: (70 / $scalew) * 100vw;
                }
            }
        }
    }

    .home {
        position: absolute;
        height: 100vh;
        width: 100%;
        top: 0;
        background-image: url("https://s3-sa-east-1.amazonaws.com/myhostedfiles.raulf/Images/portfolio-assets/home-background.jpg");
        background-size: cover;
        background-position: 50%;
        text-align: center;
        @include f-style(row, center, center);
        .bg-filter {
            background-color: rgba($color: $lightgray, $alpha: 0.6);
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 100;
        }
        .intro-text {
            position: relative;
            font-size: (40 / $scalew) * 100vw;
            .mobile-hand {
                display: block;
                .white-text {
                    color: white;
                }
            }
            z-index: 200;
        }
    }

    .about {
        min-height: 100vh;
        position: absolute;
        top: 0;
        width: 100%;
        .about-left {
            display: none;
        }
        .about-right {
            height: 100%;
            @include f-style(column, flex-start, center);
            .about-article {
                width: 95%;
                margin-top: (140 / $scaleh) * 100vh;
                margin-bottom: (40 / $scaleh) * 100vh;
                @include f-style(column, flex-start, center);
                .about-title {
                    width: (300 / $scalew) * 100vw;
                    font-size: (28 / $scalew) * 100vw;
                    align-self: flex-start;
                    margin: 0;
                    margin-bottom: (10 / $scaleh) * 100vh;
                    margin-left: (10 / $scalew) * 100vw;
                    font-weight: 800;
                }
                .about-text {
                    width: 85%;
                    font-family: Lato, sans-serif;
                    align-self: flex-end;
                    margin: 0;
                    margin-bottom: (10 / $scaleh) * 100vh;
                    font-size: (17 / $scalew) * 100vw;
                }
            }
        }
        .watermark {
            top: 40%;
            left: -(30 / $scalew) * 100vw;
        }
    }

    .projects {
        .mobile-background {
            position: fixed;
            left: -85%;
            z-index: 50;
            height: 120vh;
        }
        height: 200vh;
        width: 100%;
        overflow-x: hidden;
        position: absolute;
        .projects-background {
            position: fixed;
            height: 100vh;
            width: 100%;
            background-color: rgba($color: #111111, $alpha: 0.75);
            z-index: 100;
        }
        .content {
            height: 100%;
        }
        .filter {
            position: relative;
            height: 50%;
            color: white;
            @include f-style(row, center, center);
            .filter-info {
                display: none;
            }
            .filter-menu {
                width: (260 / $scalew) * 100vw;
                margin-right: (40 / $scalew) * 100vw;
                @include f-style(column, center, flex-start);
                .menu-title {
                    margin: 0;
                    font-weight: 800;
                    font-size: (35 / $scalew) * 100vw;
                    line-height: (35 / $scalew) * 100vw;
                }
                .menu-break {
                    width: 100%;
                    margin: 0;
                    margin-bottom: (10 / $scaleh) * 100vh;
                }
                .filter-option {
                    padding: 0;
                    color: $gray;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    font-size: (20 / $scalew) * 100vw;
                    line-height: (28 / $scalew) * 100vw;
                    background: none;
                    border: none;
                    outline: none;
                }
                .sel {
                    font-size: (22 / $scalew) * 100vw;
                    color: white;
                }
            }
            z-index: 400;
        }
        .display {
            position: relative;
            height: 50%;
            color: white;
            @include f-style(column, flex-start, center);
            .display-content-box {
                position: relative;
                top: (100 / $scaleh) * 100vh;
                height: 50%;
                width: 100%;
                @include f-style(column, flex-start, center);
                .display-content {
                    width: (265 / $scalew) * 100vw;
                    @include f-style(column, flex-start, flex-end);
                    position: relative;
                    top: (15 / $scaleh) * 100vh;
                    right: (30 / $scalew) * 100vw;
                    .display-screenshot {
                        max-width: (265 / $scalew) * 100vw;
                    }
                    .display-info {
                        font-size: (16 / $scalew) * 100vw;
                        font-family: Lato, sans-serif;
                        font-weight: 500;
                    }
                    .display-link-box {
                        $row-height: (25 / $scaleh) * 100vh;
                        width: 100%;
                        display: grid;
                        grid-template-areas:
                            "page-link"
                            "repo-link";
                        grid-template-rows: $row-height $row-height;
                        .display-pageLink {
                            font-size: (20 / $scalew) * 100vw;
                            font-weight: 600;
                            color: $gray;
                            text-decoration: none;
                            grid-area: page-link;
                            justify-self: start;
                        }
                        .display-repoLink {
                            justify-self: start;
                            grid-area: repo-link;
                            font-size: (20 / $scalew) * 100vw;
                            font-weight: 600;
                            color: $gray;
                            text-decoration: none;
                        }
                    }
                }
            }
            .display-menu-box {
                position: relative;
                height: 50%;
                @include f-style(column, center, flex-end);
                .display-menu {
                    position: relative;
                    top: (25 / $scaleh) * 100vh;
                    @include f-style(column, center, flex-start);
                    width: 90vw;
                    .menu-title {
                        margin: 0;
                        font-weight: 800;
                        font-size: (22 / $scalew) * 100vw;
                    }
                    .menu-break {
                        margin: 0;
                        margin-bottom: (10 / $scaleh) * 100vh;
                        width: 100%;
                    }
                    .display-option {
                        padding: 0;
                        color: $gray;
                        font-family: "Montserrat", sans-serif;
                        font-weight: 600;
                        font-size: (18 / $scalew) * 100vw;
                        line-height: (22 / $scalew) * 100vw;
                        text-align: left;
                        cursor: pointer;
                        background: none;
                        border: none;
                        outline: none;
                    }
                    .sel {
                        font-size: (20 / $scalew) * 100vw;
                        color: white;
                    }
                }
            }
            z-index: 400;
        }
        .scroll-btn {
            height: 40px;
            width: 40px;
            background-color: white;
            border: none;
            border-radius: 50%;
            outline: none;
            cursor: pointer;
            font-size: 32px;
            padding: 0;
            @include f-style(row, center, center);
            position: fixed;
            right: (20 / $scalew) * 100vw;
            bottom: (35 / $scaleh) * 100vh;
            i {
                margin: 0;
            }
            z-index: 450;
        }
        .watermark {
            right: -(60 / $scalew) * 100vw;
            top: 43%;
            z-index: 400;
        }
    }

    .contact {
        min-height: 100vh;
        position: absolute;
        border: 1px solid;
        @include f-style(column, space-between, flex-end);
        .content {
            padding-top: (100 / $scaleh) * 100vh;
            width: (280 / $scalew) * 100vw;
            padding-right: (20 / $scalew) * 100vw;
            @include f-style(column, space-between, center);
            .contact-content-info {
                font-size: (15 / $scalew) * 100vw;
                font-family: Lato, sans-serif;
                font-weight: 500;
                position: relative;
                top: (20 / $scaleh) * 100vh;
            }
            .addresses {
                min-width: (260 / $scalew) * 100vw;
                max-width: (260 / $scalew) * 100vw;
                height: 25vh;
                margin: 0;
                padding: 0;
                list-style: none;
                position: relative;
                right: (12 / $scalew) * 100vw;
                //top: (25 / $scaleh) * 100vh;
                .address {
                    color: black;
                    margin-top: (15 / $scaleh) * 100vh;
                    margin-bottom: (15 / $scaleh) * 100vh;
                    padding: 0;
                    @include f-style(row, flex-start, center);
                    .address-icon {
                        width: (26 / $scalew) * 100vw;
                        font-size: (26 / $scalew) * 100vw;
                        margin-right: (5 / $scalew) * 100vw;
                    }
                    .address-text {
                        font-size: (20 / $scalew) * 100vw;
                        font-weight: 600;
                        margin: 0;
                    }
                }
                .address-link {
                    text-decoration: none;
                    color: $gray;
                }
            }
        }
        .copyright-text {
            text-align: center;
            height: (40 / $scaleh) * 100vh;
            padding-bottom: (40 / $scaleh) * 100vh;
            /*position: absolute;
            bottom: 30px;
            right: 80px;*/
            font-size: 22px;
            font-weight: 600;
            color: $gray;
            pointer-events: none;
            .mobile-help {
                display: inline-block;
            }
        }
        .portuguese {
            font-size: 20px;
        }
        .watermark {
            top: 40%;
            left: -(55 / $scalew) * 100vw;
        }
    }

    .mobile-footer {
        height: (30 / $scaleh) * 100vh;
        width: 100%;
        background-color: black;
        position: absolute;
        bottom: 0px;
        z-index: 900;
    }

    @media (min-height: 800px) {
        .mobile-menu {
            .logo {
                left: (10 / $scalew) * 100vw;
            }
        }
        .projects {
            .filter {
                flex-direction: column;
                .filter-info {
                    display: initial;
                    position: relative;
                    max-width: 85%;
                    height: (100 / $scaleh) * 100vh;
                    font-size: (18 / $scalew) * 100vw;
                }
                .filter-menu {
                    position: relative;
                    top: (10 / $scaleh) * 100vh;
                }
            }
            .display {
                .display-content-box {
                    top: (115 / $scaleh) * 100vh;
                    .display-content {
                        width: 90%;
                        right: initial;
                        top: initial;
                        align-items: flex-start;
                        .display-screenshot {
                            max-width: 100%;
                        }
                        .display-info {
                            font-size: (18 / $scalew) * 100vw;
                            max-width: 90%;
                        }
                        .display-link-box {
                            $row-height: (35 / $scaleh) * 100vh;
                            grid-template-rows: $row-height $row-height;
                            .display-pageLink {
                                font-size: (25 / $scalew) * 100vw;
                                line-height: (25 / $scalew) * 100vw;
                            }
                            .display-repoLink {
                                font-size: (25 / $scalew) * 100vw;
                                line-height: (25 / $scalew) * 100vw;
                            }
                        }
                    }
                }
                .display-menu-box {
                    height: (150 / $scaleh) * 100vh;
                    top: (110 / $scaleh) * 100vh;
                    align-items: flex-start;
                }
            }
            .scroll-btn {
                right: (20 / $scalew) * 100vw;
                bottom: (35 / $scaleh) * 100vh;
            }
            .watermark {
                top: 51%;
                right: -(65 / $scalew) * 100vw;
                z-index: 400;
            }
        }
        .contact {
            .content {
                .contact-content-info {
                    //margin-top: (10 / $scalew) * 100vw;
                    font-size: (17 / $scalew) * 100vw;
                    font-family: Lato, sans-serif;
                    font-weight: 500;
                    //margin-bottom: (10 / $scalew) * 100vw;
                }
                .addresses {
                    top: (15 / $scaleh) * 100vh;
                }
            }
            .copyright-text {
                padding-bottom: (30 / $scaleh) * 100vh;
            }
        }
    }

    @keyframes activate {
        100% {
            color: white;
            font-size: (22 / $scalew) * 100vw;
        }
    }
}
