body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

@media (max-width: 500px) {
  body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  .navbar,
  .logo,
  .link-box,
  .tablet-placeholder {
    display: none;
  }
  .watermark {
    font-size: 11.11111vw;
    font-weight: 600;
    color: rgba(112, 112, 112, 0.7);
    position: fixed;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    pointer-events: none;
  }
  .mobile-menu {
    color: white;
    height: 10.9375vh;
    width: 100%;
    background-color: black;
    overflow: hidden;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "logo button" "table table" "links links";
    -ms-grid-columns: 1fr 13.88889vw;
        grid-template-columns: 1fr 13.88889vw;
    -ms-grid-rows: 10.9375vh 1fr 41.40625vh;
        grid-template-rows: 10.9375vh 1fr 41.40625vh;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  .mobile-menu .logo {
    width: 63.88889vw;
    text-decoration: none;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
    position: relative;
    left: 6.94444vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-menu .logo .profile-picture {
    border-radius: 50%;
    height: 7.03125vh;
  }
  .mobile-menu .logo .logo-name {
    padding-left: 1.38889vw;
    color: white;
    font-size: 6.11111vw;
    line-height: 6.11111vw;
    font-weight: 900;
  }
  .mobile-menu .menu-btn {
    font-size: 8.33333vw;
    color: white;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: button;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-menu .outer-navbox {
    min-height: 68.75vh;
    width: 100%;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: table;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-menu .outer-navbox .inner-navbox {
    width: 100%;
    height: 35.9375vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-menu .outer-navbox .inner-navbox .mobile-link {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-size: 8.33333vw;
    font-weight: 600;
  }
  .mobile-menu .outer-navbox .inner-navbox .mobile-link .gray-text {
    color: #707070;
  }
  .mobile-menu .link-box {
    min-height: 25vh;
    overflow: hidden;
    text-decoration: none;
    font-size: 22.22222vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: links;
  }
  .mobile-menu .link-box .link-icon {
    color: white;
    margin-left: 5.55556vw;
    margin-right: 5.55556vw;
  }
  .language {
    height: 100vh;
    color: white;
    background-color: black;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .language h1 {
    margin: 0;
    font-size: 7.77778vw;
    font-weight: 700;
  }
  .language h1 .gray-text {
    color: #707070;
  }
  .language .lang-options {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3.125vh;
    margin-bottom: 3.125vh;
  }
  .language .lang-options .lang-link {
    padding: 0;
    border: none;
    outline: none;
    background: none;
  }
  .language .lang-options .lang-link img {
    pointer-events: none;
    width: 19.44444vw;
  }
  .home {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    background-image: url("https://s3-sa-east-1.amazonaws.com/myhostedfiles.raulf/Images/portfolio-assets/home-background.jpg");
    background-size: cover;
    background-position: 50%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .bg-filter {
    background-color: rgba(160, 160, 160, 0.6);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  .home .intro-text {
    position: relative;
    font-size: 11.11111vw;
    z-index: 200;
  }
  .home .intro-text .mobile-hand {
    display: block;
  }
  .home .intro-text .mobile-hand .white-text {
    color: white;
  }
  .about {
    overflow-x: hidden;
    min-height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .about .about-left {
    display: none;
  }
  .about .about-right {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about-right .about-article {
    width: 95%;
    margin-top: 13.28125vh;
    padding-bottom: 4.6875vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about-right .about-article .about-title {
    width: 97.22222vw;
    font-size: 7.77778vw;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
    margin-bottom: 1.5625vh;
    margin-left: 2.77778vw;
    font-weight: 800;
  }
  .about .about-right .about-article .about-text {
    width: 85%;
    font-family: Lato, sans-serif;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0;
    margin-bottom: 1.5625vh;
    font-size: 5vw;
  }
  .about .watermark {
    top: 40%;
    left: -8.33333vw;
  }
  .projects {
    height: 200vh;
    width: 100%;
    overflow-x: hidden;
    position: absolute;
  }
  .projects .mobile-background {
    position: fixed;
    left: -85%;
    z-index: 50;
    height: 120vh;
  }
  .projects .projects-background {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.75);
    z-index: 100;
  }
  .projects .content {
    height: 100%;
  }
  .projects .filter {
    position: relative;
    height: 50%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 400;
  }
  .projects .filter .filter-info {
    display: none;
  }
  .projects .filter .filter-menu {
    width: 72.22222vw;
    margin-right: 11.11111vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .projects .filter .filter-menu .menu-title {
    margin: 0;
    font-weight: 800;
    font-size: 9.72222vw;
    line-height: 9.72222vw;
  }
  .projects .filter .filter-menu .menu-break {
    width: 100%;
    margin: 0;
    margin-bottom: 1.5625vh;
  }
  .projects .filter .filter-menu .filter-option {
    padding: 0;
    color: #707070;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 5.55556vw;
    line-height: 7.77778vw;
    background: none;
    border: none;
    outline: none;
  }
  .projects .filter .filter-menu .sel {
    font-size: 6.11111vw;
    color: white;
  }
  .projects .display {
    position: relative;
    height: 50%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 400;
  }
  .projects .display .display-content-box {
    position: absolute;
    top: 13.28125vh;
    height: 50%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .display .display-content-box .display-content {
    width: 76.38889vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    position: relative;
    right: 8.33333vw;
  }
  .projects .display .display-content-box .display-content .display-screenshot {
    max-width: 76.38889vw;
  }
  .projects .display .display-content-box .display-content .display-info {
    font-size: 4.44444vw;
    font-family: Lato, sans-serif;
    font-weight: 500;
  }
  .projects .display .display-content-box .display-content .display-link-box {
    width: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "page-link" "repo-link";
    -ms-grid-rows: 3.90625vh 3.90625vh;
        grid-template-rows: 3.90625vh 3.90625vh;
  }
  .projects .display .display-content-box .display-content .display-link-box .display-pageLink {
    font-size: 5.55556vw;
    font-weight: 600;
    color: #707070;
    text-decoration: none;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: page-link;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .projects .display .display-content-box .display-content .display-link-box .display-repoLink {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: repo-link;
    font-size: 5.55556vw;
    font-weight: 600;
    color: #707070;
    text-decoration: none;
  }
  .projects .display .display-menu-box {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    bottom: 10.9375vh;
  }
  .projects .display .display-menu-box .display-menu {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 90vw;
  }
  .projects .display .display-menu-box .display-menu .menu-title {
    margin: 0;
    font-weight: 800;
    font-size: 6.11111vw;
    line-height: 6.11111vw;
  }
  .projects .display .display-menu-box .display-menu .menu-break {
    width: 100%;
    margin: 0;
    margin-bottom: 1.5625vh;
  }
  .projects .display .display-menu-box .display-menu .display-option {
    padding: 0;
    color: #707070;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 5vw;
    line-height: 6.11111vw;
    text-align: left;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
  .projects .display .display-menu-box .display-menu .sel {
    font-size: 5.55556vw;
    color: white;
  }
  .projects .scroll-btn {
    height: 40px;
    width: 40px;
    background-color: white;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    font-size: 32px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    right: 5.55556vw;
    bottom: 5.46875vh;
    z-index: 450;
  }
  .projects .scroll-btn i {
    margin: 0;
  }
  .projects .watermark {
    right: -16.66667vw;
    top: 43%;
    z-index: 400;
  }
  .contact {
    min-height: 100vh;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .contact .content {
    position: relative;
    top: 13.28125vh;
    width: 77.77778vw;
    padding-right: 5.55556vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .content .contact-content-info {
    font-size: 4.44444vw;
    font-family: Lato, sans-serif;
    font-weight: 500;
    position: relative;
  }
  .contact .content .addresses {
    min-width: 72.22222vw;
    max-width: 72.22222vw;
    height: 25vh;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    right: 3.33333vw;
  }
  .contact .content .addresses .address {
    color: black;
    margin-top: 2.34375vh;
    margin-bottom: 2.34375vh;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .content .addresses .address .address-icon {
    width: 7.22222vw;
    font-size: 7.22222vw;
    margin-right: 1.38889vw;
  }
  .contact .content .addresses .address .address-text {
    font-size: 5.55556vw;
    font-weight: 600;
    margin: 0;
  }
  .contact .content .addresses .address-link {
    text-decoration: none;
    color: #707070;
  }
  .contact .content .addresses-portuguese {
    bottom: 2.34375vh;
  }
  .contact .portuguese {
    top: 11.71875vh;
  }
  .contact .copyright-text {
    text-align: center;
    height: 6.25vh;
    padding-bottom: 4.6875vh;
    position: relative;
    bottom: 1.5625vh;
    font-size: 22px;
    font-weight: 600;
    color: #707070;
    pointer-events: none;
  }
  .contact .copyright-text .mobile-help {
    display: inline-block;
  }
  .contact .portuguese-copyright {
    font-size: 20px;
  }
  .contact .watermark {
    top: 40%;
    left: -15.27778vw;
  }
  .mobile-footer {
    height: 4.6875vh;
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0px;
    z-index: 900;
  }
}

@media (max-width: 500px) and (min-height: 800px) {
  .mobile-menu .logo {
    left: 2.77778vw;
  }
  .projects .mobile-background {
    position: fixed;
    left: -100%;
    z-index: 50;
    height: 120vh;
  }
  .projects .filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects .filter .filter-info {
    display: initial;
    position: relative;
    max-width: 85%;
    height: 15.625vh;
    font-size: 5vw;
  }
  .projects .filter .filter-menu {
    position: relative;
    top: 1.5625vh;
  }
  .projects .display .display-content-box {
    top: 17.96875vh;
  }
  .projects .display .display-content-box .display-content {
    width: 90%;
    right: initial;
    top: initial;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .projects .display .display-content-box .display-content .display-screenshot {
    max-width: 100%;
  }
  .projects .display .display-content-box .display-content .display-info {
    font-size: 5vw;
    max-width: 90%;
  }
  .projects .display .display-content-box .display-content .display-link-box {
    -ms-grid-rows: 5.46875vh 5.46875vh;
        grid-template-rows: 5.46875vh 5.46875vh;
  }
  .projects .display .display-content-box .display-content .display-link-box .display-pageLink {
    font-size: 6.94444vw;
    line-height: 6.94444vw;
  }
  .projects .display .display-content-box .display-content .display-link-box .display-repoLink {
    font-size: 6.94444vw;
    line-height: 6.94444vw;
  }
  .projects .display .display-menu-box {
    bottom: 8.59375vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .projects .scroll-btn {
    right: 5.55556vw;
    bottom: 5.46875vh;
  }
  .projects .watermark {
    top: 51%;
    right: -18.05556vw;
    z-index: 400;
  }
  .contact .content .contact-content-info {
    font-size: 4.72222vw;
    font-family: Lato, sans-serif;
    font-weight: 500;
  }
  .contact .content .addresses {
    top: 2.34375vh;
  }
  .contact .copyright-text {
    padding-bottom: 4.6875vh;
  }
}

@media (max-width: 500px) and (min-height: 800px) and (max-width: 400px) {
  .projects .mobile-background {
    left: -112%;
  }
}

@media (max-width: 500px) {
  @-webkit-keyframes activate {
    100% {
      color: white;
      font-size: 6.11111vw;
    }
  }
  @keyframes activate {
    100% {
      color: white;
      font-size: 6.11111vw;
    }
  }
}

@media (min-width: 500px) and (max-width: 1250px) {
  .navbar,
  .link-box,
  .home,
  .about,
  .projects,
  .contact,
  .mobile-menu,
  .mobile-background,
  .mobile-footer {
    display: none;
  }
  .tablet-placeholder {
    height: 100vh;
    color: white;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .tablet-placeholder h1 {
    font-size: 4.16667vw;
  }
  .tablet-placeholder p {
    font-size: 3.25521vw;
  }
  .language {
    height: 100vh;
    color: white;
    background-color: black;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .language h1 {
    margin: 0;
    font-size: 6.51042vw;
    font-weight: 700;
  }
  .language h1 .gray-text {
    color: #707070;
  }
  .language .lang-options {
    width: 32.55208vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1.95312vh 0;
  }
  .language .lang-options .lang-link {
    padding: 0;
    border: none;
    outline: none;
    background: none;
  }
  .language .lang-options .lang-link img {
    pointer-events: none;
    width: 13.02083vw;
  }
}

@media (min-width: 1250px) {
  ::-webkit-scrollbar {
    width: 6px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #707070;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
  }
  .mobile-menu,
  .mobile-footer,
  .mobile-background,
  .tablet-placeholder {
    display: none;
  }
  .navbar {
    background-color: black;
    height: 11.71875vh;
    width: 40.26354vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    right: 0;
    top: 6.51042vh;
    z-index: 500;
  }
  .navbar .navlink {
    text-decoration: none;
    margin-left: 2.56223vw;
    margin-right: 2.56223vw;
    color: white;
    font-size: 1.46413vw;
    font-weight: 600;
  }
  .navbar .navlink .gray-point {
    color: #707070;
  }
  .logo {
    width: 31.47877vw;
    height: 20.83333vh;
    padding: 1.95312vh 1.46413vw;
    position: absolute;
    top: 0;
    left: 7.32064vw;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-decoration: none;
    z-index: 600;
  }
  .logo .profile-picture {
    border-radius: 50%;
    height: 13.02083vh;
  }
  .logo .logo-name {
    color: white;
    font-size: 3.66032vw;
    line-height: 3.66032vw;
    margin: 0;
    margin-right: 0.73206vw;
    margin-left: 0.73206vw;
    font-weight: 900;
  }
  .link-box {
    height: 11.71875vh;
    width: 19.76574vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: black;
    position: absolute;
    bottom: 7.8125vh;
    left: 7.32064vw;
    z-index: 400;
  }
  .link-box .link-icon {
    color: white;
    font-size: 4.02635vw;
    margin: 0 1.0981vw;
  }
  .watermark {
    font-size: 5.85652vw;
    font-weight: 600;
    color: rgba(112, 112, 112, 0.7);
    position: fixed;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    pointer-events: none;
  }
  .language {
    height: 100vh;
    color: white;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .language h1 {
    margin: 0;
    font-size: 5.12445vw;
    font-weight: 800;
  }
  .language h1 .gray-text {
    color: #707070;
  }
  .language .lang-options {
    width: 18.30161vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2.60417vh;
    margin-bottom: 2.60417vh;
  }
  .language .lang-options .lang-link {
    padding: 0;
    border: none;
    outline: none;
    background: none;
  }
  .language .lang-options .lang-link img {
    pointer-events: none;
    width: 7.32064vw;
  }
  .home {
    height: 100vh;
    padding: 0;
    background-image: url("https://s3-sa-east-1.amazonaws.com/myhostedfiles.raulf/Images/portfolio-assets/home-background.jpg");
    background-size: cover;
    background-position: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .bg-filter {
    background-color: rgba(112, 112, 112, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  .home .intro-box {
    text-align: center;
    z-index: 200;
  }
  .home .intro-box .intro-text {
    position: initial;
    margin: 0;
    max-width: 80.52709vw;
    font-size: 5.12445vw;
    font-weight: 800;
  }
  .home .intro-box .intro-text .mobile-hand {
    display: initial;
  }
  .home .intro-box .intro-text .white-text {
    color: white;
  }
  .about {
    height: 100vh;
    width: 100%;
  }
  .about .about-left {
    position: fixed;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 50%;
    background-color: black;
    color: white;
    z-index: 400;
  }
  .about .about-left .logo {
    padding: 0 0 0 15px;
    color: white;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    top: auto;
    bottom: 6.51042vh;
    left: 0;
  }
  .about .about-left .logo .profile-picture {
    border-radius: 50%;
    height: 20.83333vh;
  }
  .about .about-left .logo .logo-name {
    font-size: 5.85652vw;
    line-height: 5.85652vw;
  }
  .about .about-right {
    min-height: 100%;
    width: 50%;
    position: absolute;
    right: 0;
  }
  .about .about-right .about-article {
    width: 90%;
    position: absolute;
    top: 19.53125vh;
    left: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about-right .about-article .about-title {
    font-size: 3.66032vw;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
    margin-bottom: 2.60417vh;
    font-weight: 800;
  }
  .about .about-right .about-article .about-text {
    width: 85%;
    font-family: Lato, sans-serif;
    text-align: justify;
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin: 0;
    margin-bottom: 2.60417vh;
    font-size: 1.53734vw;
  }
  .about .navbar #about-link {
    color: #707070;
  }
  .about .watermark {
    left: 45%;
    top: 40%;
    z-index: 400;
  }
  .about .link-box {
    position: fixed;
    bottom: 23.4375vh;
    left: 14.01903vw;
  }
  .projects {
    background-image: url("https://s3-sa-east-1.amazonaws.com/myhostedfiles.raulf/Images/portfolio-assets/projects-background.jpg");
    background-size: contain;
    background-position-x: -5%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 200vh;
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
  }
  .projects .mobile-background {
    display: none;
  }
  .projects .projects-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(30, 30, 30, 0.8)), color-stop(50%, black));
    background-image: linear-gradient(to right, rgba(30, 30, 30, 0.8) 30%, black 50%);
    z-index: 100;
  }
  .projects .navbar {
    background-color: white;
    position: fixed;
    right: -6px;
  }
  .projects .navbar .navlink {
    color: black;
  }
  .projects .navbar #project-link {
    color: #707070;
  }
  .projects .content {
    position: absolute;
    height: 200vh;
    width: 100%;
    z-index: 300;
  }
  .projects .content .filter {
    height: 50%;
    width: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .content .filter .filter-info {
    position: relative;
    height: 100%;
    width: 50%;
  }
  .projects .content .filter .filter-info .filter-info-text {
    width: 34.40703vw;
    font-family: Lato, sans-serif;
    margin: 0;
    position: absolute;
    left: 7.32064vw;
    top: 50%;
    font-size: 1.61054vw;
  }
  .projects .content .filter .filter-menu-box {
    position: relative;
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .projects .content .filter .filter-menu-box .filter-menu {
    width: 36.60322vw;
    padding-right: 3.66032vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .projects .content .filter .filter-menu-box .filter-menu .menu-title {
    margin: 0;
    font-weight: 800;
    font-size: 2.92826vw;
    line-height: 2.92826vw;
  }
  .projects .content .filter .filter-menu-box .filter-menu .menu-break {
    width: 100%;
    margin-right: 0.73206vw;
  }
  .projects .content .filter .filter-menu-box .filter-menu .filter-option {
    padding: 0;
    color: #707070;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.83016vw;
    line-height: 2.34261vw;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
  .projects .content .filter .filter-menu-box .filter-menu .filter-option:hover {
    -webkit-animation: activate 200ms forwards;
            animation: activate 200ms forwards;
  }
  .projects .content .filter .filter-menu-box .filter-menu .sel {
    font-size: 2.04978vw;
    color: white;
  }
  .projects .content .display {
    height: 50%;
    width: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects .content .display .display-content-box {
    position: relative;
    height: 100%;
    width: 50%;
  }
  .projects .content .display .display-content-box .display-content {
    width: 42.45974vw;
    position: absolute;
    left: 3.66032vw;
    top: 6.51042vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .projects .content .display .display-content-box .display-content .display-screenshot {
    max-width: 42.45974vw;
  }
  .projects .content .display .display-content-box .display-content .display-info {
    font-size: 1.46413vw;
    font-family: Lato, sans-serif;
    font-weight: 500;
    max-width: 42.45974vw;
  }
  .projects .content .display .display-content-box .display-content .display-link-box {
    width: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "repo-link page-link";
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .projects .content .display .display-content-box .display-content .display-link-box .display-pageLink {
    font-size: 1.83016vw;
    font-weight: 600;
    color: #707070;
    text-decoration: none;
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: page-link;
    -ms-grid-column-align: end;
        justify-self: end;
  }
  .projects .content .display .display-content-box .display-content .display-link-box .display-pageLink:hover {
    color: #a0a0a0;
  }
  .projects .content .display .display-content-box .display-content .display-link-box .display-repoLink {
    -ms-grid-column-align: start;
        justify-self: start;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: repo-link;
    font-size: 1.83016vw;
    font-weight: 600;
    color: #707070;
    text-decoration: none;
  }
  .projects .content .display .display-content-box .display-content .display-link-box .display-repoLink:hover {
    color: #a0a0a0;
  }
  .projects .content .display .display-menu-box {
    position: relative;
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .projects .content .display .display-menu-box .display-menu {
    width: 36.60322vw;
    padding-right: 3.66032vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .projects .content .display .display-menu-box .display-menu .menu-title {
    margin: 0;
    font-weight: 800;
    font-size: 2.92826vw;
    line-height: 2.92826vw;
  }
  .projects .content .display .display-menu-box .display-menu .menu-break {
    width: 100%;
    margin-bottom: 1.30208vh;
  }
  .projects .content .display .display-menu-box .display-menu .display-option {
    padding: 0;
    color: #707070;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.83016vw;
    line-height: 2.34261vw;
    text-align: left;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
  }
  .projects .content .display .display-menu-box .display-menu .display-option:hover {
    -webkit-animation: activate 200ms forwards;
            animation: activate 200ms forwards;
  }
  .projects .content .display .display-menu-box .display-menu .sel {
    color: white;
    font-size: 2.04978vw;
  }
  .projects .scroll-btn {
    height: 40px;
    width: 40px;
    background-color: white;
    border: none;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    font-size: 32px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    right: 3.66032vw;
    bottom: 6.51042vh;
    z-index: 450;
  }
  .projects .scroll-btn i {
    margin: 0;
  }
  .projects .watermark {
    left: 40%;
    top: 40%;
    z-index: 400;
  }
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    width: 100%;
  }
  .contact .navbar #contact-link {
    color: #707070;
  }
  .contact .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 0;
    padding-right: 3.66032vw;
    padding-left: 7.32064vw;
    position: relative;
    top: 3.25521vh;
  }
  .contact .content .contact-content-info {
    font-size: 1.53734vw;
    font-family: Lato, sans-serif;
    width: 34.40703vw;
    text-align: justify;
    font-weight: 500;
  }
  .contact .content .addresses {
    min-width: 36.60322vw;
    max-width: 36.60322vw;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    bottom: 1.95312vh;
  }
  .contact .content .addresses .address {
    color: black;
    margin: 3.25521vh 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .content .addresses .address .address-icon {
    width: 4.39239vw;
    font-size: 4.39239vw;
    margin-right: 1.46413vw;
  }
  .contact .content .addresses .address .address-text {
    font-size: 2.56223vw;
    font-weight: 600;
    margin: 0;
  }
  .contact .content .addresses .address-link {
    text-decoration: none;
    color: #707070;
  }
  .contact .content .addresses .address-link:hover {
    color: #a0a0a0;
  }
  .contact .copyright-text {
    position: absolute;
    bottom: 3.90625vh;
    right: 5.85652vw;
    font-size: 2.56223vw;
    font-weight: 600;
    color: #707070;
    pointer-events: none;
  }
  .contact .portuguese-copyright {
    font-size: 2.19619vw;
  }
  .contact .watermark {
    left: 37.5%;
    top: 35%;
    z-index: 1000;
  }
  @-webkit-keyframes activate {
    100% {
      color: white;
      font-size: 2.04978vw;
    }
  }
  @keyframes activate {
    100% {
      color: white;
      font-size: 2.04978vw;
    }
  }
  /*
    @media (max-width: 1300px) {
        .projects {
            background-position-x: -25%;
            .content {
                .filter {
                    .filter-info {
                        .filter-info-text {
                            font-size: (25 / $scaleW) * 100vw;
                        }
                    }
                }
                .display {
                    .display-content-box {
                        .display-content {
                            left: (50 / $scaleW) * 100vw;
                            top: (150 / $scaleH) * 100vh;
                            .display-link-box {
                                .display-pageLink {
                                    font-size: (30 / $scaleW) * 100vw;
                                }
                                .display-repoLink {
                                    font-size: (30 / $scaleW) * 100vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }*/
}
/*# sourceMappingURL=main.css.map */