body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

#home {
  height: 100vh;
  background-image: url("./assets/New-York-Wallpaper-Background-8.jpg");
  background-size: cover;
  background-position: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .bg-filter {
  background-color: rgba(112, 112, 112, 0.5);
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#home .navbar {
  background-color: black;
  height: 80px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 50px;
}

#home .navbar .navlink {
  text-decoration: none;
  padding: 0 25px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

#home .navbar .navlink .gray-point {
  color: #707070;
}

#home .intro-box span {
  margin-bottom: 0 !important;
}

#home .intro-box .intro-text {
  margin: 0 !important;
  max-width: 1100px;
  font-size: 70px;
  font-weight: 800;
}

#home .intro-box .intro-text .white-text {
  color: white;
}

#home .intro-box #hello {
  position: relative;
  top: 10px;
}

#home .intro-box #raul-f {
  position: relative;
  bottom: 10px;
}

#home .link-box {
  height: 80px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  position: absolute;
  bottom: 60px;
  left: 80px;
}

#home .link-box .link-icon {
  color: white;
  font-size: 55px;
  margin: 0 15px;
}

#about {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-empty {
  height: 100%;
  width: 50%;
}

#about .about-left {
  position: fixed;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
  background-color: black;
  color: white;
  z-index: 400;
}

#about .about-left .logo {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 50px;
}

#about .about-left .logo .profile-picture {
  width: 160px;
  height: auto;
  border-radius: 50%;
}

#about .about-left .logo .logo-name {
  font-weight: 900;
  font-size: 80px;
}

#about .about-right {
  min-height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-right .about-article {
  width: 90%;
  position: relative;
  top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about .about-right .about-article .about-title {
  font-size: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 20px 0;
}

#about .about-right .about-article .about-text {
  width: 80%;
  text-align: justify;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 20px 0;
  font-size: 20px;
}

#about .about-right .watermark {
  font-size: 80px;
  font-weight: 600;
  left: 633px;
  color: rgba(112, 112, 112, 0.7);
  position: fixed;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  z-index: 500;
}

#about .navbar {
  background-color: black;
  height: 80px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 50px;
}

#about .navbar .navlink {
  text-decoration: none;
  padding: 0 25px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

#about .navbar .navlink .gray-point {
  color: #707070;
}

#about .link-box {
  height: 80px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  position: absolute;
  bottom: 180px;
  left: 191.5px;
}

#about .link-box .link-icon {
  color: white;
  font-size: 55px;
  margin: 0 15px;
}
/*# sourceMappingURL=style.css.map */