// Mixins

@mixin f-style($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

// Rules

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	//background-color: lightsteelblue;
}

.navbar {
	background-color: black;
	height: 80px;
	width: 500px;
	@include f-style(row, center, center);
	position: absolute;
	right: 0;
	top: 50px;
	.navlink {
		text-decoration: none;
		padding: 0 25px;
		color: white;
		font-size: 20px;
		font-weight: 600;
		.gray-point {
			color: #707070;
		}
	}
}

#home {
	height: 100vh;
	background-image: url('./assets/New-York-Wallpaper-Background-8.jpg');
	background-size: cover; 
	background-position: 50%;
	@include f-style(row, center, center);
	.bg-filter {
		background-color: rgba($color: #707070, $alpha: 0.5);
		height: 100%;
		width: 100%;
		@include f-style(row, center, center);
		text-align: center;
	}
	.navbar {
		background-color: black;
		height: 80px;
		width: 500px;
		@include f-style(row, center, center);
		position: absolute;
		right: 0;
		top: 50px;
		.navlink {
			text-decoration: none;
			padding: 0 25px;
			color: white;
			font-size: 20px;
			font-weight: 600;
			.gray-point {
				color: #707070;
			}
		}
	}
	.intro-box {
		br {
			display: none;
		}
		.intro-text {
			margin: 0;
			max-width: 1100px;
			font-size: 70px;
			font-weight: 800;
			.white-text {
				color: white;
			}
		}
	}
	.link-box {
		height: 80px;
		width: 300px;
		@include f-style(row, center, center);
		background-color: black;
		position: absolute;
		bottom: 60px;
		left: 80px;
		.link-icon {
			color: white;
			font-size: 55px;
			margin: 0 15px;
		}
	}
}

#about {
	height: 100vh;
	@include f-style(row, center, center);
	.about-empty {
		height: 100%;
		width: 50%;
	}
	.about-left {
		position: fixed;
		left: 0;
		@include f-style(row, center, center);
		height: 100%;
		width: 50%;
		background-color: black;
		color: white;
		z-index: 400;
		.logo {
			margin-left: 15px;
			color: white;
			text-decoration: none;
			@include f-style(row, center, center);
			position: relative;
			bottom: 50px;
			.profile-picture {
				width: 160px;
				height: auto;
				border-radius: 50%; 
			}
			.logo-name {
				font-weight: 900;
				font-size: 80px;
			}
		}
	}
	.about-right {
		min-height: 100%;
		width: 50%;
		@include f-style(column, center, center);
		.about-article {
			min-height: 100%;
			width: 90%;
			padding-top: 180px;
			// border: 1px solid black;
			@include f-style(column, center, center);
			.about-title {
				font-size: 50px;
				align-self: flex-start;
				margin: 0 0 20px 0;
				font-weight: 800;
			}
			.about-text {
				width: 85%;
				text-align: justify;
				align-self: flex-end;
				margin: 0 0 20px 0;
				font-size: 20px;
				font-weight: 500;
			}
		}
		.watermark {
			font-size: 80px;
			font-weight: 600;
			left: (1366px / 2) - 75px;
			color: rgba($color: #707070, $alpha: 0.7);
			position: fixed;
			transform: rotate(90deg);
			z-index: 500;
		}
	}
	.navbar {
		background-color: black;
		height: 80px;
		width: 500px;
		@include f-style(row, center, center);
		position: absolute;
		right: 0;
		top: 50px;
		.navlink {
			text-decoration: none;
			padding: 0 25px;
			color: white;
			font-size: 20px;
			font-weight: 600;
			.gray-point {
				color: #707070;
			}
		}
		#about-link {
			color: #707070;
		}
	}
	.link-box {
		height: 80px;
		width: 300px;
		@include f-style(row, center, center);
		background-color: black;
		position: fixed;
		bottom: 180px;
		left: (1366px / 4) - 150;
		.link-icon {
			color: white;
			font-size: 55px;
			margin: 0 15px;
		}
		z-index: 500;
	}
}

#projects {
	background-size: contain;
	background-position-x: -5%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 200vh;
	background-image: url('./assets/draculas-daughter-1936-001-nan-grey-gloria-holden.jpg');
	.projects-background {
		position: fixed;
		height: 100vh;
		width: 100%;
		background-image: linear-gradient(to right, rgba(64, 64, 64, 0.5) 40%, rgba(0, 0, 0, 1) 60%);
		z-index: 100;
	}
	.navbar {
		background-color: white;
		height: 80px;
		width: 500px;
		@include f-style(row, center, center);
		position: absolute;
		right: 0;
		top: 50px;
		z-index: 500;
		.navlink {
			text-decoration: none;
			padding: 0 25px;
			color: black;
			font-size: 20px;
			font-weight: 600;
			.gray-point {
				color: #707070;
			}
		}
		#project-link {
			color: #707070;
		}
	}
}

/*
#contact {
	
}*/