::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #707070;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

.navbar {
  background-color: black;
  height: 80px;
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 500;
}

.navbar .navlink {
  text-decoration: none;
  margin: 0 35px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.navbar .navlink .gray-point {
  color: #707070;
}

.logo {
  width: 430px;
  height: 160px;
  padding: 15px 20px;
  position: absolute;
  top: 0;
  left: 100px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-decoration: none;
  z-index: 600;
}

.logo .profile-picture {
  height: 100px;
  width: auto;
  border-radius: 50%;
}

.logo .logo-name {
  color: white;
  font-size: 50px;
  line-height: 50px;
  font-weight: 900;
  margin: 0 10px;
}

.link-box {
  height: 80px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  position: absolute;
  bottom: 60px;
  left: 100px;
  z-index: 400;
}

.link-box .link-icon {
  color: white;
  font-size: 55px;
  margin: 0 15px;
}

.watermark {
  font-size: 80px;
  font-weight: 600;
  color: rgba(112, 112, 112, 0.7);
  position: fixed;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  pointer-events: none;
}

.language {
  height: 100vh;
  color: white;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language h1 {
  margin: 0;
  font-size: 70px;
  font-weight: 800;
}

.language h1 .gray-text {
  color: #707070;
}

.language .lang-options {
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.language .lang-options .lang-link {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.language .lang-options .lang-link img {
  pointer-events: none;
  width: 100px;
  fill: white;
  color: white;
}

.home {
  height: 100vh;
  background-image: url("https://s3-sa-east-1.amazonaws.com/myhostedfiles.raulf/Images/portfolio-assets/home-background.jpg");
  background-size: cover;
  background-position: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home .bg-filter {
  background-color: rgba(112, 112, 112, 0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 200;
}

.home .intro-box {
  text-align: center;
  z-index: 200;
}

.home .intro-box .intro-text {
  margin: 0;
  max-width: 1100px;
  font-size: 70px;
  font-weight: 800;
}

.home .intro-box .intro-text .white-text {
  color: white;
}

.about {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.about .about-left {
  position: fixed;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
  background-color: black;
  color: white;
  z-index: 400;
}

.about .about-left .logo {
  padding: 0;
  margin-left: 15px;
  color: white;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: auto;
  bottom: 50px;
  left: 0;
}

.about .about-left .logo .profile-picture {
  width: 160px;
  height: auto;
  border-radius: 50%;
}

.about .about-left .logo .logo-name {
  font-weight: 900;
  font-size: 80px;
  line-height: 80px;
}

.about .about-right {
  min-height: 100%;
  width: 50%;
  position: absolute;
  right: 0;
}

.about .about-right .about-article {
  width: 90%;
  position: absolute;
  top: 150px;
  left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-right .about-article .about-title {
  font-size: 50px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 20px 0;
  font-weight: 800;
}

.about .about-right .about-article .about-text {
  width: 85%;
  text-align: justify;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 0 20px 0;
  font-size: 20px;
  font-weight: 500;
}

.about .navbar {
  right: -6px;
}

.about .navbar #about-link {
  color: #707070;
}

.about .watermark {
  left: 45%;
  top: 40%;
  z-index: 400;
}

.about .link-box {
  position: fixed;
  bottom: 180px;
  left: 191.5px;
}

.projects {
  background-image: url("https://s3-sa-east-1.amazonaws.com/myhostedfiles.raulf/Images/portfolio-assets/projects-background.jpg");
  background-size: contain;
  background-position-x: -5%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200vh;
  width: 100vw;
  overflow-x: hidden;
  position: absolute;
}

.projects .projects-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(30, 30, 30, 0.8)), color-stop(50%, black));
  background-image: linear-gradient(to right, rgba(30, 30, 30, 0.8) 30%, black 50%);
  z-index: 100;
}

.projects .navbar {
  background-color: white;
  position: fixed;
  right: -6px;
}

.projects .navbar .navlink {
  color: black;
}

.projects .navbar #project-link {
  color: #707070;
}

.projects .content {
  position: absolute;
  height: 200vh;
  width: 100%;
  z-index: 300;
}

.projects .content .filter {
  height: 50%;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .content .filter .filter-info {
  position: relative;
  height: 100%;
  width: 50%;
}

.projects .content .filter .filter-info .filter-info-text {
  width: 470px;
  text-align: justify;
  margin: 0;
  position: absolute;
  left: 100px;
  top: 50%;
  font-weight: 600;
  font-size: 28px;
}

.projects .content .filter .filter-menu-box {
  position: relative;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projects .content .filter .filter-menu-box .filter-menu {
  width: 500px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects .content .filter .filter-menu-box .filter-menu .menu-title {
  margin: 0;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}

.projects .content .filter .filter-menu-box .filter-menu .menu-break {
  width: 100%;
  margin: 0 0 10px;
}

.projects .content .filter .filter-menu-box .filter-menu .filter-option {
  padding: 0;
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.projects .content .filter .filter-menu-box .filter-menu .filter-option:hover {
  -webkit-animation: activate 200ms forwards;
          animation: activate 200ms forwards;
}

.projects .content .filter .filter-menu-box .filter-menu .sel {
  font-size: 28px;
  color: white;
}

.projects .content .display {
  height: 50%;
  width: 100%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .content .display .display-content-box {
  text-align: justify;
  position: relative;
  height: 100%;
  width: 50%;
}

.projects .content .display .display-content-box .display-content {
  width: 580px;
  position: absolute;
  left: 50px;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projects .content .display .display-content-box .display-content .display-screenshot {
  max-width: 580px;
}

.projects .content .display .display-content-box .display-content .display-info {
  font-size: 20px;
  font-weight: 600;
  max-width: 580px;
}

.projects .content .display .display-content-box .display-content .display-link-box {
  width: 100%;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "repo-link page-link";
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.projects .content .display .display-content-box .display-content .display-link-box .display-pageLink {
  font-size: 25px;
  font-weight: 600;
  color: #707070;
  text-decoration: none;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: page-link;
  -ms-grid-column-align: end;
      justify-self: end;
}

.projects .content .display .display-content-box .display-content .display-link-box .display-pageLink:hover {
  color: #bbbbbb;
}

.projects .content .display .display-content-box .display-content .display-link-box .display-repoLink {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: repo-link;
  font-size: 25px;
  font-weight: 600;
  color: #707070;
  text-decoration: none;
}

.projects .content .display .display-content-box .display-content .display-link-box .display-repoLink:hover {
  color: #bbbbbb;
}

.projects .content .display .display-menu-box {
  position: relative;
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.projects .content .display .display-menu-box .display-menu {
  width: 500px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects .content .display .display-menu-box .display-menu .menu-title {
  margin: 0;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
}

.projects .content .display .display-menu-box .display-menu .menu-break {
  width: 100%;
  margin: 0 0 10px;
}

.projects .content .display .display-menu-box .display-menu .display-option {
  padding: 0;
  color: #707070;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.projects .content .display .display-menu-box .display-menu .display-option:hover {
  -webkit-animation: activate 200ms forwards;
          animation: activate 200ms forwards;
}

.projects .content .display .display-menu-box .display-menu .sel {
  color: white;
  font-size: 28px;
}

.projects .scroll-btn {
  height: 40px;
  width: 40px;
  background-color: white;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  font-size: 32px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  z-index: 450;
}

.projects .scroll-btn i {
  margin: 0;
}

.projects .watermark {
  left: 40%;
  top: 40%;
  z-index: 400;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.contact .navbar #contact-link {
  color: #707070;
}

.contact .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 50px 0 100px;
  position: relative;
  top: 25px;
}

.contact .content .contact-content-info {
  font-size: 20px;
  width: 470px;
  text-align: justify;
  font-weight: 500;
}

.contact .content .addresses {
  min-width: 500px;
  max-width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  bottom: 15px;
}

.contact .content .addresses .address {
  color: black;
  margin: 25px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .content .addresses .address .address-icon {
  width: 60px;
  font-size: 60px;
  margin-right: 20px;
}

.contact .content .addresses .address .address-text {
  font-size: 35px;
  font-weight: 600;
  margin: 0;
}

.contact .content .addresses .address-link {
  text-decoration: none;
  color: #707070;
}

.contact .content .addresses .address-link:hover {
  color: #aaa;
}

.contact .copyright-text {
  position: absolute;
  bottom: 30px;
  right: 80px;
  font-size: 35px;
  font-weight: 600;
  color: #707070;
  pointer-events: none;
}

.contact .portuguese {
  font-size: 30px;
}

.contact .watermark {
  left: 37.5%;
  top: 35%;
  z-index: 1000;
}

@-webkit-keyframes activate {
  100% {
    color: white;
    font-size: 28px;
  }
}

@keyframes activate {
  100% {
    color: white;
    font-size: 28px;
  }
}

@media (max-width: 500px) {
  .navbar {
    display: none;
  }
  .link-box {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */