.card {
  border-color: black !important;
}

body {
  background-image: url("bw-triangles-pattern-1.jpg");
  min-height: 100vh;
  font-family: "Noto Sans SC", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-header {
  background-color: black;
  min-height: 80px;
  width: 100%;
  padding: 0 15px;
  border-bottom: 3px solid lightgray;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-header #return-box #return-link:link, #page-header #return-box #return-link:visited, #page-header #return-box #return-link:hover, #page-header #return-box #return-link:active {
  color: white;
  font-size: 30px;
}

#page-header #return-box #return-link:hover, #page-header #return-box #return-link:active {
  -webkit-animation-name: lighten;
          animation-name: lighten;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#page-header #title-box {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-header #title-box #header-title {
  font-size: 30px;
  font-family: "Noto Sans SC", sans-serif;
  position: relative;
  right: 15px;
}

#page-main .primary-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*
		.empty-box {
			border: 1px solid red;
		} 
        .secondary-row {
            // border: 1px solid black;
            @include f-style(row, center, center);
            
        }*/
}

#page-main .primary-row .tile-box {
  min-height: 250px;
  min-width: 300px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-main .primary-row .tile-box .prj-tile {
  height: 200px;
  width: 280px;
  margin: 0;
}

#page-main .primary-row .tile-box .prj-tile .prj-link {
  height: 100%;
}

#page-main .primary-row .tile-box .prj-tile .prj-link .prj-text {
  padding: 0;
  height: 21%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-main .primary-row .tile-box .prj-tile .prj-link .prj-text .prj-title {
  font-size: 16px;
  margin: 0;
}

#page-main .primary-row .tile-box .prj-tile .prj-link:link, #page-main .primary-row .tile-box .prj-tile .prj-link:hover, #page-main .primary-row .tile-box .prj-tile .prj-link:active, #page-main .primary-row .tile-box .prj-tile .prj-link:visited {
  color: black !important;
  text-decoration: none !important;
}

#page-main .primary-row .tile-box .prj-tile .prj-link:hover, #page-main .primary-row .tile-box .prj-tile .prj-link:active {
  -webkit-animation-name: lighten-darken;
          animation-name: lighten-darken;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes lighten-darken {
  100% {
    color: #f8f9fa;
    background-color: #404040;
  }
}

@keyframes lighten-darken {
  100% {
    color: #f8f9fa;
    background-color: #404040;
  }
}

@-webkit-keyframes lighten {
  100% {
    color: #adb5bd;
  }
}

@keyframes lighten {
  100% {
    color: #adb5bd;
  }
}

#page-footer {
  background-color: black;
  padding: 5px;
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-footer #credits-line {
  font-size: 16px;
  color: white;
}

#page-footer #port-link:link, #page-footer #port-link:visited, #page-footer #port-link:active, #page-footer #port-link:hover {
  color: #868e96;
  text-decoration: none !important;
}

#page-footer #port-link:active, #page-footer #port-link:hover {
  text-decoration: none !important;
  -webkit-animation-name: lighten;
          animation-name: lighten;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@media (max-width: 1810px) {
  #page-main .primary-row .fst {
    display: none;
  }
}

@media (max-width: 1510px) {
  #page-main .primary-row .fst {
    display: inline;
  }
  #page-main .primary-row .snd {
    display: none;
  }
}

@media (max-width: 1210px) {
  #page-main .primary-row .snd {
    display: inline;
  }
  #page-main .primary-row .fst {
    display: none;
  }
}

@media (max-width: 910px) {
  #page-main .primary-row .empty-box {
    display: none;
  }
}

@media (max-width: 850px) {
  #header-title {
    font-size: 25px;
  }
}

@media (max-width: 680px) {
  #page-footer #credits-line {
    font-size: 14px;
  }
}
/*# sourceMappingURL=style.css.map */