@mixin f-style($direction, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

.card {
    border-color: black !important;
}

body {
    background-image: url('bw-triangles-pattern-1.jpg'); 
    min-height: 100vh;
    font-family: 'Noto Sans SC', sans-serif;
    @include f-style(column, space-between, center);
}

#page-header {
    // border: 1px solid white;
    background-color: black;
    height: 80px;
    width: 100%;
    // border-bottom: 3px solid lightgray;
    text-align: center;
    @include f-style(row, center, center);
    #return-box {
        // border: 1px solid white;
        width: 10%;
        #return-link:link, #return-link:visited, #return-link:hover, #return-link:active {
            color: white;
            font-size: 30px;
        }
        #return-link:hover, #return-link:active {
            animation-name: lighten;
            animation-duration: 250ms;
            animation-fill-mode: forwards; 
        }
    }
    // #return-link:link, #return-link:visited, #return-link:hover, #return-link:active {
    //     color
    // }
    #title-box {
        // border: 1px solid white;
        padding: 0;
        width: 90%;
        @include f-style(column, center, center);
        #header-title {
            font-size: 30px;
            text-align: center;
            font-family: 'Noto Sans SC', sans-serif;
            position: relative;
            right: 5%;
        }
    }
}

#page-main {
    .primary-row {
        // border: 1px solid red;
        @include f-style(row, center, center);
        .secondary-row {
            // border: 1px solid black;
            @include f-style(row, center, center);
            .tile-box {
                // border: 1px solid blue;
                min-height: 250px;
                min-width: 300px;
                padding: 0;
                @include f-style(row, center, center);
                .prj-tile {
                    height: 200px;
                    width: 280px;
                    margin: 0;
                    .prj-link {
                        height: 100%;
                        .prj-text {
                            padding: 0;
                            height: 21%;
                            @include f-style(row, center, center);
                            .prj-title {
                                font-size: 16px;
                                margin: 0;
                            }
                        }
                    }
                    .prj-link:link, .prj-link:hover, .prj-link:active, .prj-link:visited {
                        color: black !important;
                        text-decoration: none !important;
                    }
                    .prj-link:hover, .prj-link:active {
                        animation-name: lighten-darken;
                        animation-duration: 250ms;
                        animation-fill-mode: forwards;
                    }
                    
                }
            }
        }
    }
    
}

@keyframes lighten-darken {
    100% {
        color: #f8f9fa;
        background-color: #404040; 
    }
}

@keyframes lighten {
    100% {
      color: #adb5bd;
    }
}

#page-footer {
    // border: 1px solid white;
    background-color: black;
    padding: 5px;
    height: 40px;
    width: 100%;
    @include f-style(row, center, center);
    #credits-line {
        font-size: 16px;
        color: white;
    }
        
    #port-link:link, #port-link:visited, #port-link:active, #port-link:hover {
        color: #868e96;
        text-decoration: none !important;
    }
    
    #port-link:active, #port-link:hover {
        text-decoration: none !important;
        animation-name: lighten;
        animation-duration: 250ms;
        animation-fill-mode: forwards;
    }
}

@media (max-width: 1810px) {
    #page-main {
        .primary-row {
            flex-direction: column;
            .secondary-row {
                min-width: 700px;
                padding: 30px;
                justify-content: space-between;
            }
            .empty-box {
                display: none;
            }
        }
    }
}

@media (max-width: 850px) {
    #header-title {
        font-size: 25px;
    }
    #page-main {
        .primary-row {
            .secondary-row {
                padding: 0px;
                min-width: 0;
                justify-content: center;
            }
        }
    }
}

@media (max-width: 680px) {
    #page-main {
        .primary-row {
            .secondary-row {
                flex-direction: column !important;
            }
        }
    }
    #page-footer {
        #credits-line {
            font-size: 14px;
        }
    }
}