@media (min-width: 500px) and (max-width: 1250px) {
  $scalew: 768;
  $scaleh: 1024;

  .navbar,
  .link-box,
  .home,
  .about,
  .projects,
  .contact,
  .mobile-menu,
  .mobile-background,
  .mobile-footer {
    display: none;
  }

  .tablet-placeholder {
    height: 100vh;
    color: white;
    background-color: black;
    @include f-style(column, center, center);
    text-align: center;
    h1 {
      font-size: calc(32 / $scalew * 100vw);
    }
    p {
      font-size: calc(25 / $scalew * 100vw);
    }
  }

  .language {
    height: 100vh;
    color: white;
    background-color: black;
    text-align: center;
    h1 {
      margin: 0;
      font-size: calc(50 / $scalew * 100vw);
      font-weight: 700;
      .gray-text {
        color: $gray;
      }
    }
    @include f-style(column, center, center);
    .lang-options {
      width: calc(250 / $scalew * 100vw);
      @include f-style(row, space-between, center);
      margin: calc(20 / $scaleh * 100vh) 0;
      .lang-link {
        padding: 0;
        border: none;
        outline: none;
        background: none;
        img {
          pointer-events: none;
          width: calc(100 / $scalew * 100vw);
        }
      }
    }
  }
}
